body {
  background-color: black;
  color: white;
}
.StckyFoot {
  position: fixed;
  bottom: 0px;
  height: 80px;
  left: 0px;
  z-index: 9999 !important;
  transition: all linear 0.5s;
}
.StckyFootHied {
  position: fixed;
  height: 0px;
  bottom: 0px;
  left: 0px;
  z-index: 99999 !important;
  transition: all linear 0.5s;
}
.Iframe {
  z-index: 0 !important;
  width: 100%;
  overflow: hidden;
}
.topbox {
  height: 200px;
}
.topbox2 {
  height: 500px;
}
.screen1 {
  height: 90vh;
  transition: all linear 0.4s;
}
.screen2 {
  height: 100vh;
  transition: all linear 0.4s;
}
.screen3 {
  height: 50vh;
  transition: all linear 0.4s;
}
.screen4 {
  height: 0vh;
  transition: all linear 0.4s;
}
.DrwHarf {
  height: 50vh;
  transition: all linear 0.4s;
}
.DrwFull {
  height: 100vh;
  transition: all linear 0.4s;
}
.ActiveScreen {
  border: 4px solid blue;
  border-radius: 5px;
}
.InactiveScreen {
  border: 4px solid black;
  border-radius: 5px;
}
